$meet-teem-gradient: linear-gradient(50deg, $color-glorykidd-gold -50%, $color-gk-callout 15%, $white 175%);

.contact-form-container {
  padding-top: 2em;
}

.contact-form-title {
  font-size: 2em;
}

.meet-team-container-title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2em;
}

.meet-team-contact-card {
  background-color: $white;
  border-radius: .5em;
  margin-bottom: 1em;
  min-height: 135px;
  width: 100%;

  img {
    float: right;
    margin-top: 0;
    padding-left: 15px;
  }
}

.meet-team-contact-card-blurb {
  padding: .5em;
}

.meet-team-contact-card-title {
  background: $meet-teem-gradient;
  color: $white;
  border-radius: .5em .5em 0 0;
  padding: .5em;
}

.mission-statement-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mission-statement-title {
  @extend .meet-team-container-title;
}

.mission-statement-body {
  font-size: 1.1em;
  text-align: justify;
}