.contactcard {
  min-height: 135px;
  width: 100%;

  img {
    float: right;
    margin-top: 0;
    padding-left: 15px;
  }
}

.web-callout-card {

  h4 {
    color: $color-tarawera;
    text-align: center;
  }

  img {
    margin-bottom: 1em;
    max-height: 9em;
  }

  p {
    color: $black;
  }
}

.web-services-tabs {
  justify-content: center;

  a {
    color: $black;
    text-decoration: none;
  }

  img {
    margin-right: .5em;
    max-height: 4em;
  }

  h4 {
    color: $color-tarawera;
    text-align: center;
  }

}
