.web-callout-card {
  margin-top: .5em;

  h4 {
    color: $color-tarawera;
    text-align: center;
  }

  img {
    margin-bottom: 1em;
    max-height: 9em;
  }

  p {
    color: $black;
  }
}

.web-services-tabs {
  a {
    color: $black;
    font-size: 1.5em;
    text-decoration: none;
  }

  img {
    margin-right: .5em;
    max-height: 4em;
  }
}

.web-services-grid {
  background-color: $color-gallery-gray;
  border-radius: .5em;
  justify-content: center;
}

.web-services-callout {
  border-color: $color-gk-callout;
  border-radius: .5em;
  border-style: solid;
  margin: 1em;

  img {
    margin-bottom: .25em;
    max-height: 4em;
  }

  h4 {
    text-align: center;
  }

  p {
    padding: .25em;
  }

}
