.contactcard {
  min-height: 135px;
  width: 100%;

  img {
    float: right;
    margin-top: 0;
    padding-left: 15px;
  }
}

.web-callout-card {

  h4 {
    text-align: center;
    color: $color-tarawera;
  }

  img {
    margin-bottom: 1em;
    max-height: 9em;
  }

  p {
    color: $black;
  }
}
