.consulting-callout-container {
  background-color: $color-slightly-offwhite-translucent;
  padding: 2em;
}

.consulting-callout {
  @include callout(transparent);
  border: 0;

  h4 {
    text-align: center;
  }

  p {
    padding: .25em;
  }
}

.consulting-specialties-callout {
  @include callout($white);
  border: 1px solid $black;

  h4 {
    text-align: center;
  }

  p {
    padding: .25em;
  }
}
