.consulting-callout {
  @include callout($white);
  border: 1px solid $black;
  border-radius: .5em;

  img {
    margin-bottom: .25em;
    max-height: 4em;
  }

  h4 {
    text-align: center;
  }

  p {
    padding: .25em;
  }
}
