.glorykidd-footer {
  background-color: transparent;
  margin-bottom: 1em;
  margin-top: 3em;
  padding: .5em;
}

.glorykidd-text {
  color: inherit;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  padding: 5px;
  text-align: center;
}
