.glorykidd-footer {
  background-color: $footer-color;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: .5em;
  // bottom: 0;
  // left: 0;
  // position: absolute;
  // right: 0;
}

.glorykidd-text {
  color: inherit;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  padding: 5px;
  text-align: center;
}
