.bbb-a-plus {
  margin: 1em 0;
  max-height: 4em;
}

.community-links {
  @include xy-grid;

  justify-content: center;
  margin: 2em 0;
  text-align: center;
}

.community-links-div {
  @include xy-cell(4);

  @include breakpoint(medium) {
    @include xy-cell(3);
  }

  @include breakpoint(large) {
    @include xy-cell(2);
  }

  a {
    color: $gk-callout;
    font-size: 1.2em;
    justify-content: left;

    :hover {
      color: $gk-accent;
    }
  }

  i {
    background-color: $containers-background;
    border-radius: 50%;
    height: 2em;
    padding-top: .5em;
    width: 2em;
  }

  .fa {
    font-size: 2em;
    text-align: center;
  }
}

.glorykidd-footer {
  @include xy-grid-container;

  background-color: transparent;
  margin-bottom: 2em;
  margin-top: 5em;
  padding: .5em;
}

.glorykidd-text {
  @include xy-cell(auto);

  color: inherit;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  padding: 5px;
  text-align: center;
}
