.accordion,
.accordion-content,
.accordion-item,
.tabs-panel {
  background-color: transparent;
  border: 0;

  &.is-active {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
  }
}

.tabs-title {
  background-color: $color-marshland-gray;
  border: 0;
  color: $black;
  display: content-block;
  margin-bottom: 2em;
  margin-left: .25em;
  margin-right: .25em;
  opacity: .6;
  padding: 1em;
  text-align: center;

  p {
    color: $black;
  }

  &.is-active {
    border: 0;
    box-shadow: 0;
    opacity: 1;
    padding: 0;
  }

  > a {
    &:focus,
    &:hover,
    &[aria-selected='true'] {
      background-color: transparent;
      opacity: 1;
      outline-color: none;
      outline-style: none;
      outline-width: 0;
    }
  }
}

.accordion-content {
  display: table;
  margin-top: 0;
  padding-top: 0;
}

.accordion-title {
  @extend .tabs-title;

  margin-bottom: 0;
  margin-top: 2em;
  opacity: 1;
}

.accordion-title::before {
  content: none;
}

.is-active > .accordion-title::before {
  content: none;
}

.accordion-item {
  > a {
    &:focus,
    &:hover,
    &[aria-selected='true'] {
      background-color: $color-marshland-gray;
      opacity: 1;
      outline-color: none;
      outline-style: none;
      outline-width: 0;
    }
  }
}

.tabs {
  background-color: transparent;
  border: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.tabs-content,
.tabs-reviews {
  background-color: $white;
}

.tabs-panel {
  h4 {
    padding-top: .5em;
  }
}

.tabs-reviews {
  margin-bottom: 2em;
  padding-top: 1em;
}


