// $accordion-background: $color-gray4;
// $accordion-plusminus: true;
$accordion-title-font-size: rem-calc(14);
// $accordion-item-color: $primary-color;
// $accordion-item-background-hover: $light-gray;
// $accordion-item-padding: 1.25rem 1rem;
$accordion-content-background: $color-gray4;
// $accordion-content-border: 1px solid $light-gray;
// $accordion-content-color: $body-font-color;
// $accordion-content-padding: 1rem;

.accordion,
.accordion-content,
.accordion-item,
.accordion-title,
.tabs-content,
.tabs-panel,
.tabs-title {
  background-color: transparent;
  border: 0;

  &.is-active {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
  }
}

.tabs {
  background-color: transparent;
  border: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.accordion-title,
.tabs-title {
  padding: 0;
  text-align: center;

  &.is-active {
    padding: 0;
  }
}

.varitech-tab {

  img {
    max-height: 20em;
  }

  > a {
    &:focus,
    &:hover,
    &[aria-selected='true'] {
      background-color: transparent;
      border: 0;
      box-shadow: 0;
      color: $color-varitech-red;
    }
  }
}

.ajbd-tab {

  img {
    max-height: 20em;
  }

  > a {
    &:focus,
    &:hover,
    &[aria-selected='true'] {
      background-color: transparent;
      border: 0;
      box-shadow: 0;
      color: $color-gk-callout;
    }
  }
}

.turley-tab {

  img {
    max-height: 20em;
  }

  > a {
    &:focus,
    &:hover,
    &[aria-selected='true'] {
      background-color: transparent;
      border: 0;
      box-shadow: 0;
      color: $black;
    }
  }
}
