$accordion-title-font-size: rem-calc(14);
$accordion-content-background: $color-gray4;

.accordion,
.accordion-content,
.accordion-item,
.accordion-title,
.tabs-content,
.tabs-panel,
.tabs-title {
  background-color: transparent;
  border: 0;

  &.is-active {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
  }
}

.accordion-title::before {
  content: none;
}

.tabs {
  background-color: transparent;
  border: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.accordion-title,
.tabs-title {
  padding: 0;
  text-align: center;

  &.is-active {
    padding: 0;
  }
}

.varitech-tab,
.ajbd-tab,
.turley-tab {

  > a {
    &:focus,
    &:hover,
    &[aria-selected='true'] {
      background-color: transparent;
      border: 0;
      box-shadow: 0;
    }
  }

  @include breakpoint(small) {
    img {
      max-height: 20em;
    }
  }

}
