.accordion,
.accordion-content,
.accordion-item,
.tabs-content,
.tabs-panel {
  background-color: transparent;
  border: 0;

  &.is-active {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
  }
}

.accordion-title,
.tabs-title {
  // background-color: $color-marshland-gray;
  border: 0;
  padding: 0;
  text-align: center;

  &.is-active {
    border: 0;
    box-shadow: 0;
    padding: 0;
  }
}

.accordion-title::before {
  content: none;
}

.tabs {
  background-color: transparent;
  border: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.tabs-reviews {
  background-color: $white;
  margin-bottom: 2em;
}
