body {
  // background-color: $black;
  background: linear-gradient(to right, $color-glorykidd-gold 50%, $color-gk-callout 50%);
}

.gloryblur {
  filter: blur(60px);
}

.glorykidd-logo {
  // background: $white;
  // border-radius: 50%;
  max-height: 30em;
}

.glory-gradient {
  background: linear-gradient(to right, $color-glorykidd-gold 50%, $color-gk-callout 50%);
  height: 5em;
}
