// global stuff
$black: #000;
$color-gk-callout: #0078c4;
$color-tory-blue: #116ca8;
$color-tarawera: #0a4063;
$white: #fff;
$color-chartreuse-yellow: #d7df01;
$color-glorykidd-gold: #fba637;
$color-gallery-gray: #ebebeb;
$color-marshland-gray: rgba(10, 10, 10, .25);
$color-slightly-offwhite: #fefefe;
$color-gray-555: #555;
$color-rolling-stone-gray: #707578;
$color-gray4: rgba(10, 10, 10, .2);
$color-thumbnail: rgba(33, 153, 232, .5);
$footer-color: rgba(255, 255, 255, .8);
$glorykidd-gold-trans: $color-glorykidd-gold;
$color-slightly-offwhite-translucent: rgba(254, 254, 254, .8);
$color-varitech-red: #da2727;

$glory-gradient: linear-gradient(to right, $color-glorykidd-gold 50%, $color-gk-callout 50%);
$gk-gradient: linear-gradient(to right, $color-glorykidd-gold, $color-gk-callout);
$gk-gradient-angle-body: linear-gradient(45deg, $color-glorykidd-gold, $color-gk-callout 35%, $white 100%);
$gk-gradient-angle: linear-gradient(50deg, $color-glorykidd-gold, $color-gk-callout 15%, $white 175%);
$gk-gradient-reverse: linear-gradient(to left, $color-glorykidd-gold, $color-gk-callout);

body {
  background: $gk-gradient-angle-body;
  background-size: 100% 100%;
}

.body-gradient {
  background: $gk-gradient-angle-body;
  background-size: 100% 100%;
}

.fullscreen {
  height: 90vh;
  max-height: 1600px;
}

.glory-gradient {
  background: $glory-gradient;
  height: 1em;
}

.glorygrid {
  justify-content: center;
}

.gk-cta-button {
  background-color: $color-glorykidd-gold;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}

.horizontal-bar {
  clear: both;
  margin: auto;
  text-align: center;
  width: 80%;

  h3 {
    margin-bottom: 1em;
  }
}

.services-page-headers {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
}
