$glory-gradient: linear-gradient(to right, $color-glorykidd-gold 50%, $color-gk-callout 50%);
$glorykidd-gold-trans: $color-glorykidd-gold;

.glorybar {
  margin-top: 2em;
}

.gloryblur {
  filter: blur(60px);
}

.glorybar-logo {
  max-height: 20em;
}

.glorybar-blurb {
  text-align: center;
}
