// global stuff
$black: #000;
$color-gk-callout: #0078c4;
$color-tory-blue: #116ca8;
$color-tarawera: #0a4063;
$white: #fff;
$color-chartreuse-yellow: #d7df01;
$color-glorykidd-gold: #fba637;
$color-gallery-gray: #ebebeb;
$color-marshland-gray: rgba(10, 10, 10, .25);
$color-slightly-offwhite: #fefefe;
$color-gray-555: #555;
$color-rolling-stone-gray: #707578;
$color-gray4: rgba(10, 10, 10, .2);
$color-thumbnail: rgba(33, 153, 232, .5);
$footer-color: rgba(255, 255, 255, .8);
$glorykidd-gold-trans: $color-glorykidd-gold;
$glory-gradient: linear-gradient(to right, $color-glorykidd-gold 50%, $color-gk-callout 50%);
$color-slightly-offwhite-translucent: rgba(254, 254, 254, .8);

.glorygrid {
  justify-content: center;
}

.fullscreen {
  height: 90vh;
  max-height: 1600px;
}

.horizontal-bar {
  clear: both;
  margin: auto;
  text-align: center;
  width: 80%;

  h3 {
    margin-bottom: 1em;
  }
}
