.gk-index-logo {
  margin: 1em;
  max-height: 30em;
}

.glory-gradient {
  background: $glory-gradient;
  height: 1em;
}

.gk-index-callouts {
  align-self: center;
  color: $black;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &:hover {
    color: $black;
  }

}

.gk-index-button {
  border-color: $color-glorykidd-gold;
  border-radius: .5em;
  border-style: solid;
  padding: .5em .5em 0;
}

.index-containers {
  align-content: center;
  border-radius: 1em;
  margin: .5em;
  padding: 1.5em;
  position: relative;

  a {
    color: $black;
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.software-container {
    background-color: $color-marshland-gray;
  }

  &.web-container {
    background-color: $color-gray-555;
  }

  &.agile-container {
    background-color: $color-rolling-stone-gray;
  }

}

.solution-containers {
  padding: 1em;
  align-content: center;
}
