// global stuff
$black: #000;
$color-chartreuse-yellow: #d7df01;
$color-gallery-gray: #ebebeb;
$color-gk-callout: #0078c4;
$color-glorykidd-gold: #fba637;
$color-gray-555: #555;
$color-gray4: rgba(10, 10, 10, .2);
$color-marshland-gray: rgba(10, 10, 10, .25);
$color-rolling-stone-gray: #707578;
$color-slightly-offwhite: #fefefe;
$color-tarawera: #0a4063;
$color-thumbnail: rgba(33, 153, 232, .5);
$color-tory-blue: #116ca8;
$white: #fff;

.glorygrid {
  justify-content: center;
}

.contactcard {
  min-height: 135px;
  width: 100%;

  img {
    float: right;
    margin-top: 0;
    padding-left: 15px;
  }
}

.glorykidd-text {
  color: inherit;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  padding: 5px;
}

// FOOTER
.glorykidd-footer {
  text-align: center;
}
