$software-container-color: $color-marshland-gray;
$web-container-color: $color-rolling-stone-gray;
$consulting-container-color: $color-gray-555;

.gk-index-button {
  border-color: $color-glorykidd-gold;
  border-radius: .5em;
  border-style: solid;
  padding: .5em .5em 0;
}

.gk-index-grid {
  padding-bottom: 4em;
  padding-top: 3em;
}

.gk-index-logo {
  margin: 1em;
  max-height: 30em;
  padding-bottom: 1em;
}

.gk-index-callouts {
  align-self: center;
  color: $black;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &:hover {
    color: $black;
  }
}

.index-containers {
  align-content: center;
  border-radius: 1em;
  margin: .5em;
  padding: .5em;

  a {
    color: $black;
  }

  &.software-container {
    background-color: $software-container-color;
  }

  &.web-container {
    background-color: $web-container-color;
  }

  &.consulting-container {
    background-color: $consulting-container-color;
  }
}

.index-containers-title {
  background-color: $color-gk-callout;
  border-radius: .1em;
  color: $white;
  font-size: 3em;
  font-weight: bolder;
  line-height: 1;
  padding-bottom: .1em;
  padding-left: .1em;
  text-transform: lowercase;
}

.index-containers-subtitle {
  color: $black;
  font-size: 1.25em;
  font-weight: bolder;
  line-height: 1;
  padding-left: .5em;
  text-transform: uppercase;
}

.index-containers-blurb {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 1em;
  padding: .5em;
}

.index-inside-containers {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 1em;
  padding: .5em;
}

.solution-containers {
  align-content: center;
  padding: .25em;
}

.top-of-page-fa {
  position: relative;
  text-align: center;

  i {
    background: $white;
    border-radius: 50%;
    color: $software-container-color;
    font-size: 4em;
    margin-top: .25em;
    width: 1em;
  }
}
