$software-container-color: $color-marshland-gray;
$web-container-color: $color-rolling-stone-gray;
$consulting-container-color: $color-gray-555;

.gk-index-button {
  background-color: $color-gk-callout;
  border-radius: .5em;
  height: 5em;
  padding: .5em;
}

.gk-index-button-title {
  color: $white;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
}

.gk-index-button-subtitle {
  font-size: 1.5em;
  line-height: 1;
  padding-top: .5em;
}

.gk-index-grid {
  padding-bottom: 4em;
  padding-top: 3em;
}

.gk-index-logo {
  margin: 2em 1em 0;
  max-height: 30em;
}

.gk-index-callouts {
  align-self: center;
  color: $black;
  margin-bottom: 1.5em;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

.index-containers {
  align-content: center;
  border-radius: 1em;
  display: table;
  margin: .5em;
  padding: .5em;
  vertical-align: middle;
}

.index-containers-grid {
  display: table-cell;
  vertical-align: middle;
}

.index-containers-title {
  border-radius: .1em;
  color: $white;
  font-size: 3em;
  font-weight: bolder;
  line-height: 1;
  padding-bottom: .1em;
  padding-left: .1em;
  text-transform: lowercase;
}

.index-containers-subtitle {
  color: $black;
  font-size: 1.25em;
  font-weight: bolder;
  line-height: 1;
  padding-left: .5em;
  text-transform: uppercase;
}

.index-containers-blurb {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 1em;
  color: $black;
  padding: .5em;
}

.solution-containers {
  align-content: center;
  display: block;
  padding: .25em;
}

.go-right-fa {

  i {
    color: $software-container-color;
    font-size: 4em;
    margin-top: .25em;
    width: 1em;
  }
}
