$software-container-color: $color-marshland-gray;
$web-container-color: $color-gray-555;
$agile-container-color: $color-rolling-stone-gray;

.gk-index-logo {
  margin: 1em;
  max-height: 30em;
  padding-bottom: 1em;
}

.glory-gradient {
  background: $glory-gradient;
  height: 1em;
}

.gk-index-callouts {
  align-self: center;
  color: $black;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &:hover {
    color: $black;
  }

}

.gk-index-button {
  border-color: $color-glorykidd-gold;
  border-radius: .5em;
  border-style: solid;
  padding: .5em .5em 0;
}

.index-containers {
  align-content: center;
  border-radius: 1em;
  margin: .5em;
  padding: 1.5em;
  position: relative;

  a {
    color: $black;
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.software-container {
    background-color: $software-container-color;
  }

  &.web-container {
    background-color: $web-container-color;
  }

  &.agile-container {
    background-color: $agile-container-color;
  }

}

.solution-containers {
  align-content: center;
  padding: 1em;
}

.top-of-page {
  bottom: 0;
  right: 0;
  text-align: center;

  i {
    background: $white;
    border-radius: 50%;
    color: $software-container-color;
    font-size: 4em;
    width: 1em;
  }
}
