.gk-index-button {
  background-color: $gk-callout;
  height: 5em;
  min-width: 230px;
  padding: .5em;
}

.gk-index-button-title {
  color: $white;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
}

.gk-index-button-subtitle {
  font-size: 1.5em;
  line-height: 1;
  padding-top: .5em;
}

.gk-index-callouts {
  @include xy-cell(12);

  align-self: center;
  color: $black;
  margin-bottom: 2em;
  text-align: center;
  text-decoration: none;

  @include breakpoint(medium) {
    @include xy-cell(5);
  }

  &.software {
    @include breakpoint(medium) {
      @include xy-cell(7);
    }

    @include breakpoint(large) {
      @include xy-cell(6);
    }
  }

  &:hover {
    color: $black;
  }
}

.gk-index-grid {
  @include xy-grid;

  justify-content: space-around;
  padding-bottom: 4em;
  padding-top: 3em;
}

.gk-index-logo {
  @include xy-cell(9);

  margin-bottom: $index-image-bottom-margin;

  @include breakpoint(medium) {
    @include xy-cell(7);
    margin-bottom: $index-image-bottom-margin * 2;
  }

  @include breakpoint(large) {
    @include xy-cell(6);
    margin-bottom: $index-image-bottom-margin * 3.5;
  }
}

.go-right-fa {
  i {
    color: $secondary-font-color;
    font-size: 4em;
    margin-top: .25em;
    width: 1em;
  }
}

.index-containers {
  @extend %glorygrid-y;
  height: 90vh;
  max-height: 1600px;
}

.index-containers-title {
  @include xy-cell(8);

  color: $white;
  font-size: 3em;
  font-weight: bolder;
  line-height: 1;
  padding-bottom: .1em;
  padding-left: .1em;
  text-transform: lowercase;
}

.index-containers-subtitle {
  @include xy-cell(11);

  color: $black;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.25em;
  font-weight: bolder;
  line-height: 1;
  padding-left: .5em;
  text-transform: uppercase;
}

.index-containers-blurb {
  @include xy-cell(11);

  background-color: $white;
  border: 1px solid $black;
  border-radius: .1em;
  color: $black;
  padding: .5em;

  @include breakpoint(medium) {
    @include xy-cell(8);
  }
}
