.callout.glorykidd {
  background-color: #0B4C5F;
  a {
    color: #116ca8;
    &:hover {
      color: #0a4063;
    }
  }
}

.orbit-container-glorykidd {
  position: relative;
  margin: 0;
  padding: 20px 50px;
  overflow: hidden;
  list-style: none;
  height: 120px;
}

.lead {
  font-size: 125%;
  line-height: 1.4;
  color: #fff;
  text-align: justify;
  &:first-child:first-letter {
    float: left;
    color: #D7DF01;
    font-size: 70px;
    line-height: 50px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 3px;
    font-family: Georgia;
  }
}

.contactcard {
  height: 135px;
  width: 100%;
  img {
    float: right;
    padding-left: 15px;
    margin-top: 0px;
  }
}

.lead2 {
  font-size: 85%;
  line-height: 1.4;
  color: #707578;
  text-align: justify;
}

.top-bar {
  background-color: #fff;
  ul {
    background-color: #fff;
  }
  padding-top: 35px;
  li {
    padding-top: 35px;
  }
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  input {
    width: 200px;
    margin-right: 1rem;
  }
}

.top-bar2 {
  background-color: #fff;
  ul {
    background-color: #fff;
  }
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  li {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.callout {
  &.glorykiddhome {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 10px;
    position: relative;
    background-color: white;
    text-align: justify;
    h3 {
      color: #116ca8;
    }
  }
  &.secondary2 {
    border: 0px solid rgba(10, 10, 10, 0.25);
    border-radius: 10px;
    background-color: #ebebeb;
    h4 {
      font-size: 100%;
      color: #0B4C5F;
    }
  }
  &.webprimary {
    border: 0px solid rgba(10, 10, 10, 0.25);
    border-radius: 10px;
    background-color: #ebebeb;
    height: 400px;
    text-align: justify;
    color: #555;
    h4 {
      font-size: 110%;
      color: #0B4C5F;
      text-align: right;
      line-height: 35px;
    }
    img {
      float: left;
      height: 35px;
    }
  }
  &.webprimary2 {
    border: 0px solid rgba(10, 10, 10, 0.25);
    border-radius: 10px;
    background-color: #ebebeb;
    height: 270px;
    text-align: justify;
    color: #555;
    h4 {
      font-size: 110%;
      color: #0B4C5F;
      text-align: right;
      line-height: 35px;
    }
    img {
      float: left;
      height: 35px;
    }
  }
  &.webprimary3 {
    border: 0px solid rgba(10, 10, 10, 0.25);
    border-radius: 10px;
    background-color: #ebebeb;
    height: 820px;
    text-align: justify;
    color: #555;
    h4 {
      font-size: 110%;
      color: #0B4C5F;
      text-align: right;
      line-height: 35px;
    }
  }
  &.webprimary4 {
    border: 0px solid rgba(10, 10, 10, 0.25);
    border-radius: 10px;
    background-color: #ebebeb;
    text-align: justify;
    font-size: 90%;
    color: #555;
  }
}

.menu2-text {
  font-weight: bold;
  color: inherit;
  line-height: 1;
  padding-top: 5px;
  font-size: 80%;
}

.glorykidd-text {
  font-weight: bold;
  color: inherit;
  line-height: 1;
  padding: 5px;
  font-size: 80%;
}

.menu2 {
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 80%;
  > li {
    display: table-cell;
    vertical-align: middle;
  }
}

[data-whatinput="mouse"] .menu2 > li {
  outline: 0;
}

.menu2 {
  > li > a {
    display: block;
    padding-top: 5px;
    line-height: 1;
  }
  &.expanded {
    display: table;
    width: 100%;
    > li {
      &:nth-last-child(2):first-child {
        width: 50%;
        ~ li {
          width: 50%;
        }
      }
      &:nth-last-child(3):first-child {
        width: 33.33333%;
        ~ li {
          width: 33.33333%;
        }
      }
      &:nth-last-child(4):first-child {
        width: 25%;
        ~ li {
          width: 25%;
        }
      }
      &:nth-last-child(5):first-child {
        width: 20%;
        ~ li {
          width: 20%;
        }
      }
      &:nth-last-child(6):first-child {
        width: 16.66667%;
        ~ li {
          width: 16.66667%;
        }
      }
      &:first-child:last-child {
        width: 100%;
      }
    }
  }
}

.thumbnailDesc {
  /*border: solid 4px #fefefe;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);*/
  display: inline-block;
  /*line-height: 0;*/
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

/*  .thumbnailDesc:hover, .thumbnailDesc:focus {
    box-shadow: 0 0 3px 1px rgba(33, 153, 232, 0.5); }*/