.glorybar {
  color: $white;
}

.gloryblur {
  filter: blur(60px);
}

.glorykidd-logo {
  max-height: 30em;
}

.glory-gradient {
  background: linear-gradient(to right, $color-glorykidd-gold 50%, $color-gk-callout 50%);
  height: 5em;
}

.glorybar-callouts {
  align-self: center;
  text-justify: center;
}
