.contact-card {
  background-color: $white;
  border: 1px solid $color-rolling-stone-gray;
  border-radius: .25em;
  // border-style: solid;
  // border-width: 1px;
  margin-bottom: 1em;
  min-height: 135px;
  width: 100%;

  img {
    float: right;
    margin-top: 0;
    padding-left: 15px;
  }

}

.contact-card-title {
  padding: .5em;

  // h5 {
  //   color: $color-rolling-stone-gray;
  // }
}

.contact-card-blurb {
  padding: .5em;
}

.meet-team {
  background-color: $color-gallery-gray;  
}
