.title-bar {
  background-color: transparent;
  border-radius: 0 0 2em 2em;

  li {
    font-size: 1em;
  }
}

.top-bar {
  background-color: transparent;
  padding-bottom: 10px;

  ul {
    background-color: transparent;
  }

  li {
    font-size: 1em;
  }

  input {
    margin-right: 1rem;
    width: 200px;
  }
}
