// menu and topbar
.top-bar {
  background-color: $color-slightly-offwhite;
  padding-bottom: 10px;

  ul {
    background-color: $color-slightly-offwhite;
  }

  img {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  input {
    margin-right: 1rem;
    width: 200px;
  }
}

[data-whatinput="mouse"] .menu2 > li {
  outline: 0;
}

.title-bar {
  background-color: $color-slightly-offwhite;
}
