.portfolio-cards {
  background-color: $color-marshland-gray;
  color: $black;
  margin-bottom: 2em;
  opacity: .6;
  padding-left: 1em;
  padding-right: 1em;

  &:hover,
  &:focus {
    color: $black;
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  h5 {
    font-weight: bold;
    text-transform: uppercase;
  }

  img {
    align-items: center;
  }
}

.portfolio-cards-title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em;
  padding-top: .25em;
  text-align: center;
}

.portfolio-cards-grid {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.portfolio-cards-thumb {
  padding-bottom: 1em;
}

.portfolio-down-arrow {
  text-align: center;
  vertical-align: bottom;

  i {
    color: $white;
    font-size: 3em;
    width: 1em;
  }
}

.portfolio-grid-button {
  margin-top: 2em;
}

.portfolio-tabs-title {
  @extend .portfolio-cards-title;
  font-size: 2.5em;
}

.thumbnail-desc {
  border-radius: 0;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  text-align: justify;
  transition: box-shadow 200ms ease-out;
}

.thumbnail-small-right {
  border: solid 4px $color-slightly-offwhite;
  border-radius: 0;
  box-shadow: 0 0 0 1px $color-gray4;
  display: inline-block;
  float: right;
  line-height: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  max-width: 40%;
  transition: box-shadow 200ms ease-out;
}
