$black: #000;

.portfolio-cells {
  color: $black;

  h5 {
    font-weight: bold;
    text-transform: uppercase;
  }

}

.thumbnail-desc {
  border-radius: 0;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  text-align: justify;
  transition: box-shadow 200ms ease-out;
}

.thumbnail-small-right {
  border: solid 4px $color-slightly-offwhite;
  border-radius: 0;
  box-shadow: 0 0 0 1px $color-gray4;
  display: inline-block;
  float: right;
  line-height: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  max-width: 40%;
  transition: box-shadow 200ms ease-out;
}

.thumbnail {
  &:hover,
  &:focus {
    box-shadow: 0 0 6px 1px $color-thumbnail;
  }
}
