.portfolio-cards {
  background-color: $color-marshland-gray;
  color: $black;
  margin-bottom: 2em;
  opacity: .8;
  padding-left: 1em;
  padding-right: 1em;

  h5 {
    font-weight: bold;
    text-transform: uppercase;
  }

  img {
    align-items: center;
  }

  &:hover,
  &:focus {
    color: $black;
    opacity: 1;
  }

}

.portfolio-cards-thumb {
  margin-top: 1em;
  padding-bottom: 1em;
}

.portfolio-grid {
  background-color: $white;
  border-bottom: 1px solid $color-gray4;
  border-top: 1px solid $color-gray4;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.reviews {
  font-size: 85%;

  h5 {
    font-style: italic;
  }

}

.reviews-blurb {
  padding-left: 1em;
  padding-right: 1em;
}

.reviews-quotation-marks {
  color: $color-marshland-gray;
  height: 2em;
  opacity: .2;
}

.thumbnail-desc {
  border-radius: 0;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  text-align: justify;
  transition: box-shadow 200ms ease-out;
}

.thumbnail-small-right {
  border: solid 4px $color-slightly-offwhite;
  border-radius: 0;
  box-shadow: 0 0 0 1px $color-gray4;
  display: inline-block;
  float: right;
  line-height: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  max-width: 40%;
  transition: box-shadow 200ms ease-out;
}
