.privacy-container {
  background: $containers-background;
  padding-top: 1.5em;
}

.privacy-headers {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em;
  line-height: 1.2;
  padding-left: .5em;
}

.privacy-title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.2em;
  font-weight: bold;
}
