.privacy-container {
  background: $color-slightly-offwhite-translucent;
  padding-top: 1.5em;
}

.privacy-headers {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em;
}

.privacy-title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.2em;
  font-weight: bold;
}
