.reviews {
  font-size: 85%;

  h5 {
    font-style: italic;
  }
}

.reviews-blurb {
  padding-left: 1em;
  padding-right: 1em;
}

.reviews-quotation-marks {
  color: $color-marshland-gray;
  height: 2em;
  opacity: .2;
}
