.service-pages-reviews {
  @include xy-cell(11);

  h5 {
    font-style: italic;
  }
}

.reviews-blurb {
  padding-left: 1em;
  padding-right: 1em;
}

.reviews-quotation-marks {
  color: $color-marshland-gray;
  height: 2em;
  opacity: .2;
}

.quotation-callouts {
  @include xy-grid;
  background-color: $color-gray4;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: .5em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.service-pages-container {
  background-color: $color-slightly-offwhite-translucent;
  padding: 2em;
}

.service-pages-callout {
  @include callout(transparent);
  border: 0;

  h4 {
    text-align: center;
  }

  p {
    padding: .25em;
  }
}

.service-pages-callout-white {
  @include callout($white);
  border: 1px solid $color-gk-callout;

  h4 {
    text-align: center;
  }

  img {
    margin-bottom: 1em;
    max-height: 9em;
    opacity: .8;
  }

  p {
    padding: .25em;
  }
}

.service-pages-callout-icon {
  align-items: center;
  margin-bottom: .25em;
  opacity: .7;
  text-align: center;

  i {
    font-size: 7em;
    outline: 1px;
  }
}

.services-page-headers {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3em;
  font-weight: lighter;
  margin-bottom: .5em;
  text-align: center;
}

.software-responsive-images-callout {
  @include xy-grid;
  justify-content: center;

  background-color: $glorykidd-gold-trans;
  margin-bottom: 2em;
  margin-top: 2em;
}

.software-responsive-images {
  @include xy-cell(10);

  @include breakpoint(medium) {
    @include xy-cell(6);
  }

  @include breakpoint(large) {
    @include xy-cell(4);
  }

  margin: 1em;
}

.web-callout-banner {
  @include xy-grid;
  justify-content: center;

  font-size: 110%;
  margin-top: 3em;
}

.web-callout-banner-cell {
  @include xy-cell(12);

  @include breakpoint(medium) {
    @include xy-cell(11);
  }

  @include breakpoint(large) {
    @include xy-cell(10);
  }
}

.web-plans-price {
  @include xy-cell(12);

  font-size: 1.5em;
  margin-bottom: .5em;
  padding: .5em 1em 1em;
  text-align: center;
}

.web-services-tabs {
  a {
    color: $black;
    font-size: 1.5em;
    text-decoration: none;
  }

  img {
    margin-right: .5em;
    max-height: 4em;
  }
}
