.software-callout {
  @include callout($white);
  border: 1px solid $black;
  border-radius: .5em;
  margin: 1em;

  img {
    margin-bottom: .25em;
    max-height: 4em;
  }

  h4 {
    text-align: center;
  }

  p {
    padding: .25em;
  }
}

.software-development-container {
  background-image: url('../../assets/img/software-responsive/programming-640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2em;
  padding: 1.5em 0;
}

.software-responsive-images-callout {
  background-color: $glorykidd-gold-trans;
}

.software-responsive-images {
  margin: 1em;
}
