$card-team-profile-bg: $card-background;
$card-team-profile-text-color: $body-font-color;

.card-team-profile {
  @include card-container(transparent, $card-team-profile-text-color, 1rem, $global-radius);
  border-bottom: .5em solid $dark-gray;
  box-shadow: -5px 20px 17px rgba($black, .3);
  margin-bottom: 1.5em;
  position: relative;
  z-index: 0;

  @include breakpoint (small) {
    @include xy-cell(12, true, 1em, margin, right left, false);
    max-width: 100%;
  }

  @include breakpoint (medium) {
    @include xy-cell(6, true, 1em, margin, right left, false);
    max-width: 50%;
  }

  @include breakpoint (large) {
    @include xy-cell(4, true, 1em, margin, right left, false);
    max-width: 33.3%;
  }
}

.card-team-profile-avatar {
  bottom: 100%;
  left: 1rem;
  max-width: rem-calc(90);
  position: absolute;
  z-index: 2;

  img {
    border-radius: 50%;
    box-shadow: 1px 1px 7px rgba($black, .9);
  }
}

.card-team-profile-blank {
  background-color: transparent;
  height: 3.5em;
  min-width: 100%;
  padding-top: 1em;
  transition: all .25s ease;
}

.card-team-profile-content {
  background-color: $white;
  position: relative;

  &::before {
    border-color: transparent transparent transparent $color-gk-callout;
    border-style: solid;
    border-width: rem-calc(50) 0 0 rem-calc(500);
    content: '';
    height: 0;
    left: rem-calc(0);
    position: absolute;
    top: rem-calc(-40);
    width: 0;
    z-index: 0;
  }
}

.card-team-profile-img {
  max-width: 100%;
  padding-top: 1em;
  transition: all .25s ease;
}

.card-team-profile-info {
  font-size: 1em;
  letter-spacing: 1px;
  opacity: .8;
  padding: .75em;
}

.card-team-profile-header {
  background-color: $color-gk-callout;
  border-bottom: .25em solid $color-glorykidd-gold;
  color: $white;
  padding-left: 1em;
}

.card-team-profile-name {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-top: .75em;
}

.card-team-profile-title {
  font-size: 1rem;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.team-callout {
  @extend %glorygrid-x;

  justify-content: flex-start;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-top: 2em;

  h3 {
    color: $white;
    font-size: 2em;
    padding-bottom: .3em;
    padding-top: .3em;
  }
}
