// colors
$black: #000;
$white: #fff;
$gk-callout: #0078c4;
$gk-accent: #fba637;
$containers-background: rgba(254, 254, 254, .8);
$secondary-font-color: rgba(10, 10, 10, .25);

// Gradients
$gk-gradient: linear-gradient(to right, $gk-accent, $gk-callout);
$gk-gradient-angle-body: linear-gradient(45deg, $gk-accent, $gk-callout 35%, $white 100%);

$card-team-profile-bg: $card-background;
$card-team-profile-text-color: $body-font-color;
