// colors
$black: #000;
$gk-callout: #0078c4;
$gk-accent: #fba637;
$white: #fff;
$containers-background: rgba(254, 254, 254, .8);
$color-slightly-offwhite-translucent: rgba(254, 254, 254, .8);

// needs redefinition
$color-marshland-gray: rgba(10, 10, 10, .25);
$color-slightly-offwhite: #fefefe;

// Gradients
$glory-gradient: linear-gradient(to right, $gk-accent 50%, $gk-callout 50%);
$gk-gradient: linear-gradient(to right, $gk-accent, $gk-callout);
$gk-gradient-reverse: linear-gradient(to left, $gk-accent, $gk-callout);

$gk-gradient-angle-body: linear-gradient(45deg, $gk-accent, $gk-callout 35%, $white 100%);
$gk-gradient-angle: linear-gradient(50deg, $gk-accent, $gk-callout 15%, $white 175%);

$meet-teem-gradient: linear-gradient(50deg, $gk-accent -30%, $gk-callout 15%, $white 135%);

$card-team-profile-bg: $card-background;
$card-team-profile-text-color: $body-font-color;

// $color-varitech-red: #da2727;
