// colors
$black: #000;
$color-gk-callout: #0078c4;
$white: #fff;
$footer-color: rgba(255, 255, 255, .8);
$card-team-profile-bg: $card-background;
$card-team-profile-text-color: $body-font-color;

// needs redefinition
$color-gallery-gray: #ebebeb;
$color-marshland-gray: rgba(10, 10, 10, .25);
$color-gray4: rgba(10, 10, 10, .2);
$color-thumbnail: rgba(33, 153, 232, .5);
$color-slightly-offwhite-translucent: rgba(254, 254, 254, .8);
$color-slightly-offwhite: #fefefe;
$color-gray-555: #555;
$color-rolling-stone-gray: #707578;


$color-varitech-red: #da2727;
$color-tory-blue: #116ca8;
$color-tarawera: #0a4063;
$color-glorykidd-gold: #fba637;
$color-chartreuse-yellow: #d7df01;
$software-container-color: $color-marshland-gray;
$web-container-color: $color-rolling-stone-gray;
$consulting-container-color: $color-gray-555;


// Gradients
$glory-gradient: linear-gradient(to right, $color-glorykidd-gold 50%, $color-gk-callout 50%);
$gk-gradient: linear-gradient(to right, $color-glorykidd-gold, $color-gk-callout);
$gk-gradient-angle-body: linear-gradient(45deg, $color-glorykidd-gold, $color-gk-callout 35%, $white 100%);
$gk-gradient-angle: linear-gradient(50deg, $color-glorykidd-gold, $color-gk-callout 15%, $white 175%);
$gk-gradient-reverse: linear-gradient(to left, $color-glorykidd-gold, $color-gk-callout);
$meet-teem-gradient: linear-gradient(50deg, $color-glorykidd-gold -30%, $color-gk-callout 15%, $white 135%);

