.web-callout-index {
  @include callout($white);
  margin-top: 3em;
  padding-top: 2em;
}

.web-callout-card {
  @include callout($white);
  margin-top: .5em;

  h4 {
    color: $color-tarawera;
    text-align: center;
  }

  img {
    margin-bottom: 1em;
    max-height: 9em;
  }

  p {
    color: $black;
  }
}

.web-plans-price {
  font-size: 1.5em;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

.web-services-tabs {
  a {
    color: $black;
    font-size: 1.5em;
    text-decoration: none;
  }

  img {
    margin-right: .5em;
    max-height: 4em;
  }
}

.web-services-callout {
  @include callout($white);
  border: 1px solid $color-gk-callout;

  h4 {
    text-align: center;
  }

  p {
    padding: .25em;
  }
}

.web-services-callout-icon {
  align-items: center;
  margin-bottom: .25em;
  text-align: center;

  i {
    color: $color-glorykidd-gold;
    font-size: 7em;
    outline: 1px;
  }

  img {
    height: 7em;
    margin-bottom: .25em;
  }
}
