.web-callout-index {
  font-size: 110%;
  margin-top: 3em;
}

.web-plans-price {
  font-size: 1.5em;
  margin-bottom: .5em;
  padding: .5em 1em 1em;
  text-align: center;
}

.web-services-tabs {
  a {
    color: $black;
    font-size: 1.5em;
    text-decoration: none;
  }

  img {
    margin-right: .5em;
    max-height: 4em;
  }
}
