<div class="grid-container fluid mission-statement-container">
  <div class="glorygrid-x">
    <div class="mission-statement-div">
      <p class="mission-statement-title">Mission Statement</p>
      <p class="mission-statement-body">GloryKidd's mission is to leverage technology to help spread the Gospel. We will use our skills and talents to this end, and learn new skills to further push the envelope whenever possible. We will continue to provide the highest standard of excellence to all clients, helping them to achieve their goals. Overall, GloryKidd will provide the type and style of service that will reflect God in all that we do and say.</p>
    </div>
  </div>
</div>
