<div class="grid-container">
  <div class="top-bar2 grid-x">
    <div class="cell auto">
      <hr class="show-for-large" />
      <ul class="menu2 expanded show-for-large">
        {{> menu}}
      </ul>
      <hr />
    </div>
  </div>

  <div class="grid-x expanded">
    <div class="cell auto glorykidd-text glorykidd-footer">  
      <h6><i>Do you see a man who excels in his work? He will stand before kings; He will not stand before unknown men.</i></h6><br />
      GloryKidd Technologies LLC &copy; 2017
    </div>
  </div>

  <br />
</div>
