<div class="grid-container grid-container-padded">

  <div class="grid-x grid-padding-x glorygrid">
    <div class="cell">
      <a href="https://www.bbb.org/louisville/business-reviews/web-design/glorykidd-technologies-llc-in-louisville-ky-159152468">
        <img class="bbb-a-plus" alt="Better Business Bereau Logo" src="{{root}}assets/img/bbb-a-plus.pretty.svg" /> 
      </a>
    </div>
  </div>

  <div class="grid-x grid-padding-x glorygrid community-links">
    <div class="cell small-4 medium-2 text-center">
      <a href="https://business.facebook.com/GloryKiddTechnologies/">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </div>

    <div class="cell small-4 medium-2 text-center">
      <a href="https://twitter.com/glorykidd">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>

    <div class="cell small-4 medium-2 text-center">
      <a href="https://github.com/dlnuckolls">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="grid-x expanded">
    <div class="cell auto glorykidd-text glorykidd-footer">  
      <h6><i>Do you see a man who excels in his work? He will stand before kings; He will not stand before unknown men.</i></h6><br />
      GloryKidd Technologies LLC &copy; 2017
    </div>
  </div>

</div>

<br />
