<footer class="glorykidd-footer ">

  <div class="glorygrid-x">
    <div class="cell small-12">
      <a href="https://www.bbb.org/louisville/business-reviews/web-design/glorykidd-technologies-llc-in-louisville-ky-159152468">
        <img class="bbb-a-plus" alt="Better Business Bereau Logo" src="{{root}}assets/img/bbb-a-plus.pretty.svg" /> 
      </a>
    </div>
  </div>

  <div class="community-links">
    <div class="community-links-div">
      <a href="https://business.facebook.com/GloryKiddTechnologies/" alt="Facebook Link">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </div>

    <div class="community-links-div">
      <a href="https://twitter.com/glorykidd" alt="Twitter Link">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>

    <div class="community-links-div">
      <a href="https://github.com/dlnuckolls" alt="GitHub Link">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="glorykidd-text">
    <h6><i>Do you see a man who excels in his work? He will stand before kings; He will not stand before unknown men.</i> Proverbs 22:29</h6><br />
    GloryKidd Technologies LLC &copy; 2017
  </div>

</footer>
