<div class="grid-container">

  <div class="grid-x show-for-small-only">
    <div class="cell auto">
        <img class="imagelogo-small" src="{{root}}assets/img/glorykiddlogo.png">
    </div>
  </div>

  <!-- 

  <div class="grid-x hide-for-small-only glorybar" data-equalizer data-equalize-on="medium">
  
    <div class="cell medium-3 circle" data-equalizer-watch>
      <img class="imagelogo" src="{{root}}assets/img/glorykidd-logo.svg">
    </div>

    <div class="cell medium-9 glorybanner" data-equalizer-watch>
      <div>
        <p class="glorybar-lead lead">Our mission is to use workflow processes and leverage software to create practical IT solutions with the highest standard of excellence to both honor God and provide unparalleled customer service for our clients. Our customer focused service helps clients across the globe react to changing requirements and customer demands with the speed, scalability and flexibility.</p>
      </div>
    </div>

  </div> -->

  <div class="grid-x grid-padding-x hide-for-small-only glorybar">
  
    <div class="cell medium-3 circle">
      <img class="imagelogo" src="{{root}}assets/img/glorykidd-logo.svg">
    </div>

    <div class="cell medium-9 glorybanner">
      <div class="glorybar-lead">
        <div class="cell auto">
          <p class="lead ">Our mission is to use workflow processes and leverage software to create practical IT solutions with the highest standard of excellence to both honor God and provide unparalleled customer service for our clients. Our customer focused service helps clients across the globe react to changing requirements and customer demands with the speed, scalability and flexibility.</p>
        </div>
      </div>
    </div>

  </div>

</div>

<br />
