
<div class="show-for-small-only">
  <hr />
  <div class="row">
    <div class="columns small-9 small-centered">
        <img class="imagelogo-small show-for-small-only" src="{{root}}assets/img/glorykiddlogo.png">
    </div>
  </div>
  <hr />
</div>

<div class="row hide-for-small-only glorybar">
  <img class="columns medium-3" src="{{root}}assets/img/glorykiddlogoMedLarge.png">

  <div class="columns medium-9">
    <div class="row columns">
  </div>

    <div class="row">
      <div class="orbit" aria-label="Inspiring Quotes" data-orbit>
        
        <ul class="orbit-container orbit-container-glorykidd hide-for-small-only">

          <li class="is-active orbit-slide">
            <div>
              <p class="lead">Our mission is to use workflow processes and leverage software to create practical IT solutions with the highest standard of excellence to both honor God and provide unparalleled customer service for our clients. Our customer focused service helps clients across the globe react to changing requirements and customer demands with the speed, scalability and flexibility.</p>
            </div>
          </li>

          <li class="orbit-slide">
            <div>
              <p class="lead">We will analyze your existing and future web presence needs and develop a plan to help keep your web presence alive and dynamic. We provide service offerings that can increase traffic to your site, better integration with Social Media, and Search Engine Optimizations.</p>
            </div>
          </li>

          <li class="orbit-slide">
            <div>
              <p class="lead">All our website design services include an additional 10 FREE hours of design and revision beyond the initial layout. This gives you an opportunity to tweak colors, fonts, and images, and fine tune your site so it’s just the way you want it. If you need additional hours, rest easy, as they’re charged at a low hourly rate.</p>
            </div>
          </li>

          <li class="orbit-slide">
            <div>
              <p class="lead">Good design doesn’t just include effective graphics and layout. You need to have a website that ranks well on search engines like Google and Bing. My website design services include built-in SEO techniques that help customers find you again and again.</p>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>

<br />

<!-- <div class="show-for-small-only">
  <hr />
  <div class="row">
    <div class="columns small-9 small-centered">
        <img class="imagelogo-small show-for-small-only" src="{{root}}assets/img/glorykiddlogo.png">
    </div>
  </div>
  <hr />
</div>

<div class="row hide-for-small-only glorybar">
  <div class="orbit " aria-label="Inspiring Quotes" data-orbit>
    <ul class="orbit-container orbit-container-glorykidd hide-for-small-only valignmiddle">

      <li class="is-active orbit-slide">
        <div class="row">
          <div class="columns medium-12">
            <div class="row">
              <div class="columns medium-3">
                <img class="imagelogo" src="{{root}}assets/img/glorykiddlogo.png">
              </div>
              <div class="columns medium-9">
                <p class="lead">Our mission is to use workflow processes and leverage software to create practical IT solutions with the highest standard of excellence to both honor God and provide unparalleled customer service for our clients. Our customer focused service helps clients across the globe react to changing requirements and customer demands with the speed, scalability and flexibility.</p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-12">
            <div class="row">
              <div class="columns medium-3">
                <img class="imagelogo" src="{{root}}assets/img/glorykiddlogo.png">
              </div>
              <div class="columns medium-9">
                <p class="lead">We will analyze your existing and future web presence needs and develop a plan to help keep your web presence alive and dynamic. We provide service offerings that can increase traffic to your site, better integration with Social Media, and Search Engine Optimizations.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-12">
            <div class="row">
              <div class="columns medium-3">
                <img class="imagelogo" src="{{root}}assets/img/glorykiddlogo.png">
              </div>
              <div class="columns medium-9">
                <p class="lead">All our website design services include an additional 10 FREE hours of design and revision beyond the initial layout. This gives you an opportunity to tweak colors, fonts, and images, and fine tune your site so it’s just the way you want it. If you need additional hours, rest easy, as they’re charged at a low hourly rate.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li class="orbit-slide">
        <div class="row">
          <div class="columns medium-12">
            <div class="row">
              <div class="columns medium-3">
                <img class="imagelogo" src="{{root}}assets/img/glorykiddlogo.png">
              </div>
              <div class="columns medium-9">
                <p class="lead">Good design doesn’t just include effective graphics and layout. You need to have a website that ranks well on search engines like Google and Bing. My website design services include built-in SEO techniques that help customers find you again and again.</p>
              </div>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>

<br /> -->