
<div class="show-for-small-only">
  <hr />
  <div class="row">
    <div class="columns small-9 small-centered">
        <img class="imagelogo-small show-for-small-only" src="{{root}}assets/img/glorykiddlogo.png">
    </div>
  </div>
  <hr />
</div>

<div class="row">
  <div class="row hide-for-small-only glorybar" data-equalizer data-equalize-on="medium">
  
    <div class="columns medium-3 circle" data-equalizer-watch>
      <img class="imagelogo" src="{{root}}assets/img/glorykidd-logo.svg">
    </div>

    <div class="columns medium-9 orbit-container-glorykidd" data-equalizer-watch>
      <div>
        <p class="glorybar-lead lead">Our mission is to use workflow processes and leverage software to create practical IT solutions with the highest standard of excellence to both honor God and provide unparalleled customer service for our clients. Our customer focused service helps clients across the globe react to changing requirements and customer demands with the speed, scalability and flexibility.</p>
      </div>
      </div>
    </div>

</div>

<br />
