<div class="meet-team-container" id="meet-the-team">

  <div class="glorygrid-x">
    <div class="meet-team-container-title">Our team</div>
    <p class="meet-team-contact-card-blurb">The powerhouse behind your masterpiece</p>
  </div>

  <div class="team-callout">

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content">
        <div class="card-team-profile-avatar">
          <img alt="Headshot of David Nuckolls" src="{{root}}assets/img/team/davidnuckolls.png" />
        </div>
        <div class="card-team-profile-header">
          <p class="card-team-profile-name">David Nuckolls</p>
          <p class="card-team-profile-title">Chief Executive Officer</p>
        </div>
        <p class="card-team-profile-info">For over 25 years David Nuckolls has brought excellence to the programming world, developing fluency in .net, RoR, php, and more. In 1995 he started GloryKidd Technologies LLC to provide exceptional quality service and creative digital solutions to his customer's IT problems.</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content">
        <div class="card-team-profile-avatar">
          <img alt="Headshot of Allison Nuckolls" src="{{root}}assets/img/team/allisonnuckolls.png" />
        </div>
        <div class="card-team-profile-header">
          <p class="card-team-profile-name">Allison Nuckolls</p>
          <p class="card-team-profile-title">Chief Financial Officer</p>
        </div>
        <p class="card-team-profile-info">Allison Nuckolls is the Chief Financial Officer for GloryKidd Technologies LLC. She joined GloryKidd Technologies in 2006. Allison has a background in teaching and believes in providing great customer service.  and looks forward to bridging the needs of customers with the GloryKidd staff.</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content">
        <div class="card-team-profile-avatar">
          <img alt="Headshot of Joel Majors" src="{{root}}assets/img/team/joelmajors.png" />
        </div>
        <div class="card-team-profile-header">
          <p class="card-team-profile-name">Joel Majors</p>
          <p class="card-team-profile-title">Service Delivery Manager</p>
        </div>
        <p class="card-team-profile-info">Joel has a lifelong passion for technology and a variety of experience. From customer service to teaching english abroad to video editing to software development, excellence is his goal. With a particular focus on web environments, he has become a valuable member of the GloryKidd team.</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content">
        <div class="card-team-profile-avatar">
          <img alt="Headshot of John Gilliland" src="{{root}}assets/img/team/johngilliland.png" />
        </div>
        <div class="card-team-profile-header">
          <p class="card-team-profile-name">John Gilliland</p>
          <p class="card-team-profile-title">Senior Engineer</p>
        </div>
        <p class="card-team-profile-info">John is a full stack .Net developer with 15+ years of experience coding web, desktop and embedded applications. He feels blessed to be able to do work he enjoys, be proud of, and at times do very well! John has been and asset to GloryKidd on numerous projects and can always be relied on to deliver.</p>
      </div>
    </div>

    <div class="card-team-profile">
      <div class="card-team-profile-blank"></div>
      <div class="card-team-profile-content">
        <div class="card-team-profile-avatar">
          <img alt="Headshot of Doyle Turner" src="{{root}}assets/img/team/doyleturner.png" />
        </div>
        <div class="card-team-profile-header">
          <p class="card-team-profile-name">Doyle Turner</p>
          <p class="card-team-profile-title">Senior Engineer</p>
        </div>
        <p class="card-team-profile-info">Doyle is driven by desire and fueled by ability to create well-written software solutions. Never at rest, he brings his ever-expanding skill set to identify and resolve problems facing businesses today. Doyle's combination of experience and training are a powerful part of the GloryKidd team.</p>
      </div>
    </div>

  </div>
</div>
