<div style="width: 98%; margin-left: auto; margin-right: auto;" class="row callout secondary2">
  <div class="large-2 medium-2 columns">
      <h4>Meet our team</h4>
      <p class="lead2">Who is behind all of our masterpieces here?</p>
  </div>
  <div class="large-5 medium-5 columns">
      <div class="contactcard">
        <h4>David Nuckolls (Chief Executive Officer)<img src="{{root}}assets/img/team/davidnuckolls.png" /></h4>
        <p class="lead2"> David Nuckolls has been programming for over 25 years. Dave is fluent in .net, RoR, php, and more. Dave began GloryKidd Technologies LLC in 1995. His goal is to provide exceptional quality service to his customers and digital solutions to his customer's IT problems.</p>
      </div>
      <div class="contactcard">
        <h4>Joel Majors (Service Delivery Manager)<img src="{{root}}assets/img/team/joelmajors.png" /></h4>
        <p class="lead2">Joel has a lifelong passion for technology and a varied experience. From customer service to teaching english abroad to video editing to software development, excellence is his goal. With a particular focus on web environments, he has become a valuable member of the GloryKidd team.</p>
      </div>
      <div class="contactcard">
        <h4>John Gilliland (Senior Engineer)<img src="{{root}}assets/img/team/johngilliland.png" /></h4>
        <p class="lead2">Full stack .Net developer with 15+ years of experience coding web, desktop and embedded applications.  Feel blessed to be able to do work I can enjoy,  be proud of, and at times do very well! He has been and asset to GloryKidd on numerous projects and can always be relied on to deliver.</p>
      </div>
  </div>
  <div class="large-5 medium-5 columns">
      <div class="contactcard">
        <h4>Allison Nuckolls (Chief Financial Officer)<img src="{{root}}assets/img/team/allisonnuckolls.png" /></h4>
        <p class="lead2">Allison Nuckolls is the Business Manager for GloryKidd Technologies LLC. She joined GloryKidd Technologies in 2006. Allison has a background in teaching. She also believes in providing great customer service and looks forward to bridging the needs of customers with the GloryKidd staff.</p>
      </div>
      <div class="contactcard">
        <h4>Jim Guy (Director of Sales)<img src="{{root}}assets/img/team/jimguy.png" /></h4>
        <p class="lead2">Jim comes to GloryKidd after most recently serving his clients as a Consultant in various Executive Sales Management roles.  Before that endeavor, he enjoyed a successful career as the National Director of Sales for various Technology companies. He brings a passion for helping his clients find the right solution to meet their needs.</p>      
      </div>
      <div class="contactcard">
        <h4>Doyle Turner (Senior Engineer)<img src="{{root}}assets/img/team/doyleturner.png" /></h4>
        <p class="lead2">Driven by desire and fueled by ability, Doyle creates well-written software solutions. Relying on a combination of experience and training by engaging an ever-expanding skill set to identify and resolve problems facing businesses today.</p>
      </div>
  </div>
</div>
