<div style="width: 98%; margin-left: auto; margin-right: auto;" class="row callout secondary2">
  <div class="large-2 medium-2 columns">
      <h4>Meet our team</h4>
      <p class="lead2">Who is behind all of our masterpieces here?</p>
  </div>
  <div class="large-5 medium-5 columns">
      <div class="contactcard">
        <h4>David Nuckolls<img src="{{root}}assets/img/davidnuckolls.png" /></h4>
        <p class="lead2"> David Nuckolls has been programming for over 25 years. Dave is fluent in .net, RoR, php, and more. Dave began GloryKidd Technologies LLC in 1995. His goal is to provide exceptional quality service to his customers and digital solutions to his customer's IT problems.</p>
      </div>
      <div class="contactcard">
        <h4>Joel Majors<img src="http://placehold.it/50x50" /></h4>
        <p class="lead2"></p>
      </div>
      <div class="contactcard">
        <h4>John Gilliland<img src="{{root}}assets/img/johngilliland.png" /></h4>
        <p class="lead2"></p>
      </div>
  </div>
  <div class="large-5 medium-5 columns">
      <div class="contactcard">
        <h4>Allison Nuckolls<img src="http://placehold.it/50x50" /></h4>
        <p class="lead2">Allison Nuckolls is the Business Manager for GloryKidd Technologies LLC. She joined GloryKidd Technologies in 2006. Allison has a background in teaching. She also believes in providing great customer service and looks forward to bridging the needs of customers with the GloryKidd staff.</p>
      </div>
      <div class="contactcard">
        <h4>Doyle Turner<img src="{{root}}assets/img/doyleturner.png" /></h4>
        <p class="lead2"></p>
      </div>
      <div class="contactcard">
        <h4>Benjamin Thurston<img src="http://placehold.it/50x50" /></h4>
        <p class="lead2">Ben Thurston began programming in 2009. In 2012, he received an Associate Degree of Computer Science Software Development Technology degree from ITT Technical Institute. He is fluent in the following computer languages, C#, .Net, Ruby on Rails, Java, HTML and CSS. He has a passion for people and for programing.</p>      
      </div>
  </div>
</div>
