<div class="grid-container" id="meet-the-team">

  <div class="meet-team-container">
    <div class="meet-team-container-title">Our team</div>
    <p class="meet-team-contact-card-blurb">The powerhouse behind your masterpiece</p>

    <div class="glorygrid-x grid-margin-x large-up-3 medium-up-2 small-up-1">

      <div class="meet-team-contact-card cell">
        <div class="meet-team-contact-card-title">
          <h3>David Nuckolls
            <img class="meet-team-contact-card-headshot" alt="Headshot of David Nuckolls" src="{{root}}assets/img/team/davidnuckolls.png" />
          </h3>
          <h5>Chief Executive Officer</h5>
        </div>
        <p class="meet-team-contact-card-blurb">For over 25 years David Nuckolls has brought excellence to the programming world, developing fluency in .net, RoR, php, and more. In 1995 he started GloryKidd Technologies LLC to provide exceptional quality service and creative digital solutions to his customer's IT problems.</p>
      </div>

      <div class="meet-team-contact-card cell">
        <div class="meet-team-contact-card-title">
          <h3>Allison Nuckolls
            <img class="meet-team-contact-card-headshot" alt="Headshot of Allison Nuckolls" src="{{root}}assets/img/team/allisonnuckolls.png" />
          </h3>
          <h5>Chief Financial Officer</h5>
        </div>
        <p class="meet-team-contact-card-blurb">Allison Nuckolls is the Chief Financial Officer for GloryKidd Technologies LLC. She joined GloryKidd Technologies in 2006. Allison has a background in teaching and believes in providing great customer service.  and looks forward to bridging the needs of customers with the GloryKidd staff.</p>
      </div>

      <div class="meet-team-contact-card cell">
        <div class="meet-team-contact-card-title">
          <h3>Joel Majors
            <img class="meet-team-contact-card-headshot" alt="Headshot of Joel Majors" src="{{root}}assets/img/team/joelmajors.png" />
          </h3>
          <h5>Service Delivery Manager</h5>
        </div>
        <p class="meet-team-contact-card-blurb">Joel has a lifelong passion for technology and a variety of experience. From customer service to teaching english abroad to video editing to software development, excellence is his goal. With a particular focus on web environments, he has become a valuable member of the GloryKidd team.</p>
      </div>

      <div class="meet-team-contact-card cell">
        <div class="meet-team-contact-card-title">
          <h3>Jim Guy
            <img class="meet-team-contact-card-headshot" alt="Headshot of Jim Guy" src="{{root}}assets/img/team/jimguy.png" />
          </h3>
          <h5>Director of Sales</h5>
        </div>
        <p class="meet-team-contact-card-blurb">Jim comes to GloryKidd after most recently serving his clients as a Consultant in various Executive Sales Management roles. Before consulting, he enjoyed a successful career as the National Director of Sales for various Technology companies. He brings a passion for helping his clients find the right solution to meet their needs.</p>
      </div>

      <div class="meet-team-contact-card cell">
        <div class="meet-team-contact-card-title">
          <h3>John Gilliland
            <img class="meet-team-contact-card-headshot" alt="Headshot of John Gilliland" src="{{root}}assets/img/team/johngilliland.png" />
          </h3>
          <h5>Senior Engineer</h5>
        </div>
        <p class="meet-team-contact-card-blurb">John is a full stack .Net developer with 15+ years of experience coding web, desktop and embedded applications. He feels blessed to be able to do work he enjoys, be proud of, and at times do very well! John has been and asset to GloryKidd on numerous projects and can always be relied on to deliver.</p>
      </div>

      <div class="meet-team-contact-card cell">
        <div class="meet-team-contact-card-title">
          <h3>Doyle Turner
            <img class="meet-team-contact-card-headshot" alt="Headshot of Doyle Turner" src="{{root}}assets/img/team/doyleturner.png" />
          </h3>
          <h5>Senior Engineer</h5>
        </div>
        <p class="meet-team-contact-card-blurb">Doyle is driven by desire and fueled by ability to create well-written software solutions. Never at rest, he brings his ever-expanding skill set to identify and resolve problems facing businesses today. Doyle's combination of experience and training are a powerful part of the GloryKidd team.</p>
      </div>

    </div>
  </div>
</div>


<!-- <div class="card-team-profile">
  <div class="card-team-profile-blank"></div>
  <div class="card-team-profile-content card-section">
    <div class="card-team-profile-avatar">
      <img src="{{root}}assets/img/staff-photos/tammy.jpg" alt="Profile photo of Tammy Brown">
    </div>
    <p class="card-team-profile-name">Tammy Brown</p>
    <p class="card-team-profile-status">New Practice Coordinator</p>
    <p class="card-team-profile-info">Tammy has been working for Periago Orthodontics since 2008. She has an Associate degree in business from Indiana University Southeast and attended Dental Careers of Southern Indiana for dental assisting. She is the mother of four beautiful teenage daughters Callie, Courtney, Camrynn and Chloe. She also has a white poodle named Comet. She loves working out, playing tennis, shopping and spending time with her girls in her spare time. Tammy absolutely loves working in orthodontics!</p>
  </div>
</div> -->
