<li><a href="{{root}}/">Home</a></li>
<li><a href="{{root}}web-services.html">Web</a></li>
<li><a href="{{root}}software-solutions.html">Software</a></li>
<li><a href="{{root}}consulting-services.html">Consulting</a></li>
<li class="hide-for-medium-only"><a href="http://www.elusivesoftware.net">Elusive Software</a></li>
<li class="show-for-medium-only"><a href="http://www.elusivesoftware.net">Elusive</a></li>
<li><a href="{{root}}about.html">About</a></li>
<li><a href="{{root}}about.html#contact">Contact</a></li>
