<div class="title-bar" data-responsive-toggle="glorykidd-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">GloryKidd</div>
</div>

<!-- Start Top Bar -->

<div class="top-bar row" id="glorykidd-menu">
  <div class="medium-2 columns hide-for-small-only">
    <img class="imagelogo" src="{{root}}assets/img/glorykiddlogo.png">
  </div>
  <div class="medium-10 columns">
    <ul class="vertical medium-horizontal menu expanded">
      {{> menu}}
    </ul>
  </div>
</div>

<hr class="show-for-small-only" />
<div class="row">
  <div class="columns small-9 small-centered">
      <img class="imagelogo-small show-for-small-only" src="{{root}}assets/img/glorykiddlogo.png">
  </div>
</div>
<hr class="show-for-small-only" />

<!-- End Top Bar -->
