    <div class="title-bar" data-responsive-toggle="glorykidd-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <!-- Start Top Bar -->
    <div class="top-bar" id="glorykidd-menu">
      <img src="{{root}}assets/img/glorykiddlogo.png" style="padding-left: 20px; margin: 0px; float: left;">
      <div style="float:right; width: 70%;">
        <ul class="menu expanded">
          {{> menu}}
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->