<div class="grid-x expand-column-wrapper">
  <div class="cell ">
   <img src="/assets/img/portfolio/portfolio-ajb.png">
  </div>
    <p class="expand-column-content">Hello there.</p>
  </div>
  <div class="cell">
    <p class="expand-column-content">If you hover</p>
  </div>
  <div class="cell">
    <p class="expand-column-content">over each section</p>
  </div>
  <div class="cell">
    <p class="expand-column-content">a couple of words</p>
  </div>
  <div class="cell">
    <p class="expand-column-content">will appear</p>
  </div>
</div>
