<div class="grid-x glorygrid grid-margin-x web-services-tabs hide-for-large">

  <ul class="cells small-10 medium-11 tabs" data-responsive-accordion-tabs="tabs small-accordion large-tabs" id="web-services-tabs">
    <li class="tabs-title">
      <a href="#domain-name-registration">Domain Name Registration</a>
    </li>
    <li class="tabs-title">
      <a href="#custom-web-design">Custom Web Design</a>
    </li>
    <li class="tabs-title">
      <a href="#web-presence-consulting">Web Presence Consulting</a>
    </li>
    <li class="tabs-title">
      <a href="#social-media-integration">Social Media Integration</a>
    </li>
    <li class="tabs-title">
      <a href="#search-engine-optimization">Search Engine Optimization </a>
    </li>
    <li class="tabs-title">
      <a href="#design-revision">Design & Revision</a>
    </li>
  </ul>

  <ul class="tabs-content cells small-10 medium-11" data-tabs-content="web-services-tabs">

    <li class="tabs-panel " id="domain-name-registration">
      <img src="/assets/img/icon/icon-domain.png" />
      <p>All website design services include one year of free domain name registration. We will help you choose and acquire the right domain name to attract customers, and/or assist you with transferring your existing domain if you have one.</p>
    </li>

    <li class="tabs-panel" id="custom-web-design">
      <img src="/assets/img/icon/icon-design.png" />
      <p>We will design your website using the state-of-the-art Content Management System (CMS), which is easy to update automatically. Best of all, with custom HTML, CSS, and JavaScript tools, it will look good, enabling you to attract and keep your audience.</p>
    </li>

    <li class="tabs-panel" id="web-presence-consulting">
      <img src="/assets/img/icon/icon-web.png" />
      <p>We will analyze your existing and future web presence needs and develop a plan to help keep your web presence alive and dynamic.</p>
    </li>

    <li class="tabs-panel" id="social-media-integration">
      <img src="/assets/img/icon/icon-community.png" />
      <p>Getting found is only the first step in marketing your site. The next step is to enable your users to share in the experience. This includes the ability to both keep up with what your doing and share the experience with all their friends!</p>
    </li>

    <li class="tabs-panel" id="search-engine-optimization">
      <img src="/assets/img/icon/icon-seo.png" />
      <p>Good design doesn’t just include effective graphics and layout. You need to have a website that ranks well on search engines like Google and Bing. My website design services include built-in SEO techniques that help customers find you again and again.</p>
    </li>

    <li class="tabs-panel" id="design-revision">
      <img src="/assets/img/icon/icon-repair.png" />
      <p>All our website design services include an additional 10 FREE hours of design and revision beyond the initial layout. This gives you an opportunity to tweak colors, fonts, and images, and fine tune your site so it’s just the way you want it. If you need additional hours, rest easy, as they’re charged at a low hourly rate.</p>
    </li>
  </ul>

</div>
